html {
    overflow: hidden;
}

body {
	margin: 0 5px 25px 5px;
	/*font: 100% normal 'Yanone Kaffeesatz', 'Lucida Grande', 'Trebuchet MS',*/
		/*Verdana, sans-serif;*/
    font: 100% 'Arial Narrow', sans-serif;
	text-align: center;
	color: #999;
}

a,a:visited {
	color: #00b;
	text-decoration: none;
}

h1,h2,h3,h4 {
	margin: 0;
}

ul {
	list-style: none;
	padding: 0;
	margin: 10px auto;
	font-size: 11pt;
}

hgroup {
	background: #EBF1FF;
	padding: 2.5em 0 0.5em 0;
	margin-bottom: 10px;
	color: black;
	font-family: 'Reenie Beanie';
	text-shadow: 2px 2px 5px #ccc;
	-moz-border-radius-bottomleft: 100px;
	-moz-border-radius-bottomright: 100px;
	border-bottom-left-radius: 100px;
	border-bottom-right-radius: 100px;
	border: 5px solid rgba(123, 156, 227, 0.25);
	border-top: 0;
	width: 99%;
}

hgroup h1 {
	color: black;
	font-size: 35pt;
}

/*
[contenteditable] {
	padding: 0 8px 5px 8px;
	text-decoration: none;
	border: 2px dashed transparent;
	color: #666666;
	font-size: 125%;
	border-bottom: 2px dotted #ccc;
}
*/
[contenteditable]:hover,[contenteditable]:focus {
	outline: none;
	color: black;
	/*
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: black;
	*/
}

.clear {
    clear: both;
}

#attribution {
	position: absolute;
	top: -80px;
	left: -18px;
	color: white;
	font-size: 11pt;
	padding: 100px 10px 8px;
	-webkit-transform: rotate(-15deg);
	-moz-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
	background: #0037AD;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 3px 3px 5px #7B9CE3;
	-webkit-box-shadow: 3px 3px 5px #7B9CE3;
	box-shadow: 3px 3px 5px #7B9CE3;
}

#attribution a {
	color: white;
}

.search-query-main {
	-moz-border-radius: 10px;
	border-radius: 10px;
	float: left;
	padding-left: 5px;
	margin-top: 28px;
	border: 2px dashed #ccc;
	font-size: 20pt;
	height: 40px;
	width: 100%;
	text-align: left;
	padding-bottom: 5px;
	margin-top: 28px;
	background-color: white;
	background: url(/public/images/stripe.png) repeat;
}

.search-query-main-init {
	color: lightgray;
}

.search-query-main:hover {
	border: 2px dashed #333;
}

.loading-icon {
	display: inline;
}

.search-query {
	padding: 10px 10px 15px 10px;
	font-size: 20pt;
	text-align: left;
}

.search-query img {
	height: 50px;
	display: inline;
}

.select-label {
	width: 70px;
	float: left;
	text-align: right;
}

.fields {
	border: solid 1px #E5E5E5;
	outline: 0;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
}

#search-area {
	margin-top: 0px;
	width: 320px;
	height: 450px;
	float: left;
	position: relative;
}

#mapContainer {
	margin-top: 20px;
	width: 60%;
	height: 450px;
	text-align: left;
	float: right;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
}

#result-list {
	margin-top: 20px;
	width: 100%;
	height: 400px;
	overflow: scroll;
	text-align: left;
	float: right;
	border: 2px dashed #ccc;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#radius {
	width: 25px;
}

#content {
	width: 96%;
	margin: 0 auto;
	clear: both;
}

#main {
	font-size: 10pt;
	text-align: left;
}

#position {
	padding: 10px 10px 15px 10px;
	width: 100px;
}

#closest-church {
	margin-left: 0%;
	margin-bottom: 0px;
	font-weight: bold;
	float: left;
}

#nearest {
	margin-bottom: 12px;
	color: #666666;
}

#refine {
	font-weight: bold;
	cursor: pointer;
	position: absolute;
	bottom: 0;
}

#refine:hover {
	color: #008DD3;
	text-decoration: underline;
}

.header:hover {
	color: #008DD3;
	text-decoration: underline;
}

#num-results {
	font-weight: bold;
}

input,textarea {
	padding: 9px;
	border: solid 1px #E5E5E5;
	outline: 0;
	font: normal 13px/100% Verdana, Tahoma, sans-serif;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
}

.textinput {
	width: 400px;
}

textarea {
	width: 400px;
	max-width: 400px;
	height: 150px;
	line-height: 150%;
}

select {
	margin-left: 10px;
}

input:hover,textarea:hover,input:focus,textarea:focus {
	border-color: #C9C9C9;
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
}

.form label {
	margin-left: 10px;
	color: #999999;
}

.submit input {
	width: auto;
	padding: 9px 15px;
	background: #999966;
	border: 0;
	font-size: 14px;
	color: #FFFFFF;
	float: right;
}

#feedback {
	font-size: 1.0em;
}

#selectable .ui-selected {
	color: #333333;
}

#selectable ul {
	margin: 0px;
	padding: 5px;
	border-bottom: 2px dashed #ccc;
}

#selectable ul:hover {
	background: #F0F0F0;
}

#selectable {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

#selectable li {
	margin: 1px;
	padding: 0.2em;
	font-size: 1.0em;
	height: 15px;
}

.feedback-panel {
	padding: 20px 10px 20px 10px;
	width: 320px;
	height: 370px;
	background: #EEEEEE;
	border: solid 1px #E5E5E5;
	position: fixed;
	top: 18px;
	left: -381px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
}

.modalCloseImg {
	background: url(/public/images/close.png) no-repeat;
	width: 25px;
	height: 29px;
	display: inline;
	z-index: 3200;
	position: absolute;
	top: 0px;
	right: 0px;
	cursor: pointer;
}

#directions-panel {
	height: 90%;
	float: left;
	width: 320px;
	overflow: auto;
	color: black;
}


div.mapresults {
	padding: 0px 10px 20px 10px;
	position: relative;
	width: 295px;
	border: solid 1px #E5E5E5;
	background-color: #FFF;
	margin-top: 10px;
	margin-left: 7px;
	margin-right: -10px;
	width: 100%;
	height: 450px;
	overflow: scroll;
    overflow-x: hidden;
	text-align: left;
	float: right;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
}

div.fullscreen {
	height: auto;
	overflow: auto;
	margin-top: 20px;
}

#exitfullscreen {
	display: none;
	top: 10px;
	right: 10px;
	padding: 10px;
	position: fixed;
	z-index: 100;
	background: #999966;
	border: 0;
	font-size: 14px;
	color: #FFFFFF;
	cursor: pointer;
}

div.mapresulttop {
	padding-top: 5px;
	cursor: pointer;
}

div.mapresulttop:hover {
	text-decoration: underline;
	font-weight: bold;
	color: #008DD3;
}

div.mapresultleft {
	padding-left: 5px;
	padding-top: 5px;
	width: 400px;
	float: left;
}

div.mapresultright {
	padding-left: 25px;
	padding-top: 5px;
	float: left;
}

div.churchpopup {
	position: relative;
	background-repeat: repeat-x;
	background-position: bottom;
	padding-bottom: 15px;
	float: left;
	width: 100%;
	border-bottom: 1px dashed #ccc;
}

.wdth135 {
	width: 135px;
}

.padtp15 {
	padding-top: 15px;
}

.topic {
	color: black;
}

#map-canvas {
	margin-right: 400px;
}


.ui-autocomplete {
	max-height: 200px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
	/* add padding to account for vertical scrollbar */
	padding-right: 20px;
}

* html .ui-autocomplete {
	height: 200px;
}

@media print {
	#map-canvas {
		height: 500px;
		margin: 0;
	}
	#directions-panel {
		float: none;
		width: auto;
	}
}