#{extends 'main.html' /} #{set title:'ArchDen Locator' /}

<div id="content">
	<div id="main">

		<div id=mapContainer></div>

		<div id="search-area">
			<form class="form">

				<p class="location">
					<label for="location">Enter an address, zip code, or city
						to search</label>&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<label for="radius">Radius</label><br /> <input type="text" name="location"
						id="location" size="32" /> <input type="text" name="radius"
						id="radius" value="3" />
				</p>
				<p class="name">
					<label for="name"> Or search by Parish name </label><br /> <input
						id="name" size="30" />
				</p>
				<p class="refine">
					<label for="refine" id="refine" style="cursor: pointer;">
						Refine your search </label>
				<div id="more" style="display: none">
					<label for="dow" class="select-label"> Day of Week </label> <select class="dow" id="dow">
						<option>Sunday</option>
						<option value="saturdayanticipatory">Anticipitory</option>
						<option>Saturday</option>
						<option>Weekday</option>
						<option value="holydays">Holy Day</option>
					</select> 
					<br/>
					<label for="tod" class="select-label"> Time of Day </label> <select class="tod"
						id="tod">
						<option>Any</option>
						<option>Morning</option>
						<option>Noon</option>
						<option>Afternoon</option>
					</select> <br /> 
					
					<label for="tos" class="select-label"> Service Type </label> <select class="tos"
						id="tos">
						<option>Mass</option>
						<option value='life teen/youth mass'>Life Teen Mass</option>
						<option>Confession</option>
						<option>Adoration</option>
						<option>Seasonal</option>
					</select> <br /> 
					
					<label for="lang" class="select-label"> Language </label> <select class="lang"
						id="lang">
						<option value = 'english'>English</option>
						<option value = 'spanish sunday'>Spanish</option>
						<option value = 'novo order latin'>Latin</option>
						<option value = 'korean'>Korean</option>
						<option value = 'vietnamese'>Vietnamese</option>
						<option value = 'asl'>ASL/Sign Language</option>
					</select> <br /> 
					
				</div>

				<div id="disp"></div>

				<p id="nearest">
					<span id="closest-church">Searching...</span>
				</p>

				<p class="submit">
					<input type="button" value="Send" onClick="searchByTime();"
						style="cursor: pointer;" />
				</p>

			</form>

		</div>


	</div>

	<div id=result-list>

		<div class="selectlist">

			<ol id="selectable">

			</ol>

		</div>

	</div>
</div>

<script>
	var hidden = true;

	function searchByTime() {
		archden.tod = $("#tod").val();
		archden.dow = $("#dow").val();
		archden.tos = $("#tos").val();
		archden.lang = $("#lang").val();
		archden.location = $('input#location').val();
		archden.radius = $('input#radius').val();
		archden.name = $('input#name').val();
		if(archden.tos == 'Confession'){
			archden.confession = true;
		}else{
			archden.confession = false;
		}
		
		if(archden.lang == 'english'){
			archden.topic = null;
		}else{
			archden.topic = archden.lang;
		}
		
		if(archden.tos == 'Adoration'){
			archden.topic = 'adoration';
		}else if(archden.tos == "life teen/youth mass"){
			archden.topic = 'life teen/youth mass';
		}

		debug.log("Service Type: " + archden.tos);
		if (archden.location) {
			archden.location = archden.location + ', CO';
			debug.log("using location:" + archden.location);
			archden.getGeo();
		} else {
			archden.queryCassandraHq();
		}
	}

	$("select").change(searchByTime);
	$(":radio").click(searchByTime);
	$(":checkbox").click(searchByTime);

	$('#refine').click(function() {
		if (hidden) {
			$('#more').show('slow', function() {
				hidden = false;
			});
		} else {
			$('#more').hide('slow', function() {
				hidden = true;
			});
		}
	});

	$(function() {
		$("#selectable").selectable({
			selected : function(event, ui) {
				var id = ui.selected.id;
				debug.log("ID: " + id);
				$('#details-' + id).show('slow', function() {
					
				});
			}
		});
	});
</script>

<!-- Include javscript last -->
<script type="text/javascript" src="@{'/public/javascripts/archden.js'}"></script>
