#{extends 'main.html' /} #{set title:'ArchDen Locator' /}

<div id="content">
	<div id="main">
		<div id="search-area">
			Find: <span id="position" data-previous="    "
				contenteditable>&nbsp;&nbsp;&nbsp;&nbsp;</span> within <span id="within"
				data-previous="15" contenteditable>15</span> miles of me.
		</div>
		<p id="nearest">
			<span id="closest-job">loading...</span>
		</p>
		<div id="mapContainer"></div>
	</div>
</div>

<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<script
	src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=true&amp;key=ABQIAAAAFhBoTVNn_gDOtmzzJTaOhRSr8NNhelS6gB-pyJ-tcI4WldE7wRRnqnYxU6qBUJW05HsL0m8ShP8M8g"
	type="text/javascript"></script>
<script>
	const JOB_CATEGORY = 'jobs';
	var here = {};
	var closestJob = null;
	var geocoder = new GClientGeocoder();
	var map;

	var inputFieldEl = document.getElementById('position');
	var withinEl = document.getElementById('within');

	window.onload = function() {
		if (!GBrowserIsCompatible() || !navigator.geolocation) {
			handleError("Can't do this!");
			return;
		}

		map = new GMap2(document.getElementById('mapContainer'));
		map.setCenter(new GLatLng(37.4419, -122.1419), 13);
		map.setUIToDefault();

		navigator.geolocation.getCurrentPosition(function(position) {
			here.pos = new GLatLng(position.coords.latitude,
					position.coords.longitude);
			map.setCenter(here.pos);
			map.addOverlay(new GMarker(here.pos));

			geocoder.getLocations(here.pos, findNearbyJobs);
		}, handleError);
	};

	function handleError(message) {
		alert(message || "Can't do this!");
	}

	function resetMap() {
		closestJob = null;
		document.getElementById('closest-job').textContent = 'Loading...';
		document.getElementById('num-results').textContent = '-';
		map.clearOverlays();
		map.setCenter(here.pos);
		map.addOverlay(new GMarker(here.pos));
	}

	function doQuery(el, inputFieldEl, withinEl) {
		if (el.attributes['data-previous'].value == el.textContent) {
			return;
		} else if (el.textContent == '') {
			el.textContent = el.attributes['data-previous'].value
			return;
		}
		el.attributes['data-previous'].value = el.textContent;
		resetMap();
		
		queryCassandraHq(inputFieldEl.textContent, here.address,
				withinEl.textContent);
	}

	inputFieldEl.addEventListener('blur', function(e) {
		doQuery(this, inputFieldEl, withinEl);
	});

	inputFieldEl.addEventListener('keypress', function(e) {
		// Prevent enter key from sticking return in the contenteditable box.
		if (e.keyCode == 13) {
			e.preventDefault();
			e.stopPropagation();
			doQuery(this, inputFieldEl, withinEl);
		}
	});

	withinEl.addEventListener('blur', function(e) {
		doQuery(this, inputFieldEl, withinEl);
	});

	withinEl.addEventListener('keypress', function(e) {
		// Prevent enter key from sticking return in the contenteditable box.
		if (e.keyCode == 13) {
			e.preventDefault();
			e.stopPropagation();
			doQuery(this, inputFieldEl, withinEl);
		}
	});

	document.getElementById('closest-job').addEventListener(
			'click',
			function(e) {
				map.openInfoWindowHtml(closestJob.latlng,
						generateInfoWindowHTML(closestJob));
			});

	function generateInfoWindowHTML(obj) {
		console.log("Church: "+ obj);
		var link = obj.website;
		return [ '<h4>', obj.nombre, '</h4>',
				'<ul><li>Address: ', obj.physicaladdress, ', ', 
				obj.physicalzip, '<li>Pastor: ',
				obj.pastor, '</li>', '<li>Sunday Masstimes: ', 
				obj.sunday, '</li>', '<li>Website: ', 
				link.link(obj.website), '</li></ul>' ].join('');
	}

	function findNearbyJobs(response) {
		if (!response || response.Status.code != 200) {
			alert('Status Code:' + response.Status.code);
		} else {
			here.address = response.Placemark[0].address;
			
			queryCassandraHq('', here.address,
					withinEl.textContent);
		}
	}

	
	function queryCassandraHq(query, address, radius, input) {
		console.log('query = '+ query);
		var q;
		if(!query){
			q = [ '/plotall' ];
		}else{
			q = ['/plotname?name='+ query];
		}
		var xhr = new XMLHttpRequest();
		xhr.onreadystatechange = function(e) {
			if (this.readyState == 4 && this.status == 200) {
				var resp = jQuery.parseJSON(this.responseText)
				console.log(resp);
				if (!resp.members) {
					document.getElementById('closest-job').textContent = 'No results for that query.';
					return;
				} else {
					document.getElementById('closest-job').textContent = 'Found results ';
				}
				
				var newBounds = new GLatLngBounds();
				
				$.each(resp.members, function(key, value) {
					var coords = {};
					var job = {};
					var church = {};
					$.each(value.members, function(innerkey, innerval) {
						church = buildDataset(church, innerkey, innerval.value);
						
					});
					//console.log("Church: "+ church.nombre);
					if(church.latlng){
						if (church.latlng.distanceFrom(here.pos) < (radius * 1609)) {
						
							var marker = new GMarker(church.latlng);

							GEvent.addListener(marker, 'click', function(e) {
								map.openInfoWindowHtml(church.latlng,
									generateInfoWindowHTML(church), {
										pixelOffset : new GSize(15, -18)
									});
							});

							newBounds.extend(church.latlng);
							map.addOverlay(marker);
						}
					}
				});
				
				map.setCenter(newBounds.getCenter(), map
						.getBoundsZoomLevel(newBounds));
				/*
				document.getElementById('num-results').textContent = resp.feed.entry.length;
				document.getElementById('closest-job').textContent = [
						Math
								.round(closestJob.latlng.distanceFrom(here.pos) / 1609),
						' miles away - ', closestJob.title ].join('');
				*/
			}
		};
		xhr.open('GET', q);
		xhr.send();
	}
	
	function buildDataset(church, key, value){
		//console.log(key, value);
		switch(key){
		
		case 'coordinates':
			coords = value.split(',');
			church.latlng = new GLatLng(coords[1], coords[0]);
			break;
		}
		
		church[key] = value;
		//console.log("Returning: "+ church.nombre);
		return church;
	}

	function get(k) {
	    return church[k];
	}
	
</script>

